body {
  background-image: url("color2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  padding-top: 20px;
  padding-bottom: 0px;
  font-size: 100px;
}

nav {
  padding-top: 0px;
  font-size: 25px;
}

a {
  padding-top: 0px;
  padding-left: 20px;
  padding-right: 20px;
}

h2 {
  padding-left: 20px;
  text-align: center;
}

#main {
  text-align: Center;
}

#about {
  display: inline-block;
  border: black solid;
}